.HeaderManager {
  margin-left: 1%;
  .create {
    margin-left: 82.4%;
    height: 50%;
    top: -108px;
  }
}
.segmentButton {
  display: flex;
}
.buttonDetails {
  justify-content: flex-end;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.HeaderManager_Title {
  margin-left: 1%;
}
.mb3 {
  position: relative;
  top: 11px;
}
