.breadcrumb-item {
  font-size: 18px;
  & > a {
    cursor: pointer;
  }
}

.ant-breadcrumb-separator {
  font-size: 18px;
}

.ant-breadcrumb li:last-child,
.ant-breadcrumb li:last-child a {
  color: #545cd8;
}
