.w-120px {
  width: 7.5rem;
}

.w-125px {
  width: 7.8125rem;
}

.w-130px {
  width: 8.125rem;
}

.w-140px {
  width: 8.75rem;
}

.w-150px {
  width: 9.375rem;
}

.c-cursor-pointer {
  cursor: pointer;
}

.c-font-12 {
  font-size: 0.75rem;
}
