.concept-wrapper {
  display: flex;
  flex-direction: column;

  .concept-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .concept-list-wrapper {
    margin-top: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .concept-item {
      margin: 0.3rem;
      width: 32%;
      min-width: 300px;
    }
  }

  @media screen and (max-width: 1400px) {
    .concept-item {
      width: 48% !important;
    }
  }

  @media screen and (max-width: 800px) {
    .concept-list-wrapper {
      flex-direction: column;
      .concept-item {
        width: 100% !important;
      }
    }
  }
}
