.concept-wrapper {
  display: flex;
  flex-direction: column;

  .concept-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .concept-list-wrapper {
    margin-top: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .concept-item {
      margin: 0.3rem;
      width: 32%;
      min-width: 430px;
      height: 155px;

      .widget-content-wrapper {
        .custom-control-label {
          max-width: 160px;
        }
        .concept-image-wrapper {
          height: 130px;
          .concept-image {
            height: 100%;
          }
        }
        .widget-content-left {
          display: flex;
          flex-direction: column;
          height: 130px;
          align-items: flex-start;
          & > div {
            height: 30%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1580px) {
    .concept-item {
      width: 48% !important;
    }
  }

  @media screen and (max-width: 1100px) {
    .concept-list-wrapper {
      flex-direction: column;
      .concept-item {
        width: 100% !important;
      }
    }
  }
}
